<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align:center">Employee Management System</h1>
<!-- search employee functionality -->
    <div>
       {% if messages %}
       {% for msg in messages %}
       {% if 'search' in msg.tags %}
    <div class="alert 
            {% if 'error' in msg.tags %}alert-danger
            {% elif 'success' in msg.tags %}alert-success
            {% elif 'warning' in msg.tags %}alert-warning
            {% else %}alert-info{% endif %} 
            alert-dismissible fade show" role="alert">
      {{ msg }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
        <!-- search bar -->
        <form method="get" class="row g-2 mb-3">
  <div class="col-auto">
    <input type="text" name="q" class="form-control" placeholder="Search by name, email, or mobile" value="{{request.GET.q}}">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'list_employee' %}" class="btn btn-primary">Home</a>
  </div>
</form>
    </div>

    <!-- list of all employees -->

    <table class="table table-bordered">
  <thead>
    <tr>
        <th>Emp Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile No</th>
        <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for emp in employees %}
    <tr>
        
     <td>{{emp.id}}</td>
     <td>{{emp.name}}</td>
     <td>{{emp.email}}</td>
     <td>{{emp.contact}}</td>
     <td>
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{emp.id}}">
        Update
        </button> -->


        <a href="?edit={{ emp.id }}#exampleModal"  class="btn btn-primary">Update</a>

        <a href="{% url 'delete_employee' emp.id %}"  class="btn btn-primary">Delete</a>
     </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

     
   

    <!-- Button trigger modal -->
<div class="d-flex justify-content-end">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add New Employee
</button>
</div>
<!-- add employee Modal -->
<div class="modal fade {% if employee or  request.GET.modal == 'add'  %}show d-block{% endif %}" 
     id="exampleModal" 
     tabindex="-1" 
     {% if employee or request.GET.modal == 'add' %}style="background: rgba(0,0,0,0.5);" {% endif %}>

    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >{% if employee %} Update Employee {% else %}Add New Employee{% endif %}</h5>
        <a href="{% url 'list_employee' %}" class="btn-close"></a>
      </div>
      <div class="modal-body">

         {% if messages %}
        {% for msg in messages %}
        {% if 'modal' in msg.tags %}
        <div class="alert 
            {% if 'error' in msg.tags %}alert-danger
            {% elif 'success' in msg.tags %}alert-success
            {% elif 'warning' in msg.tags %}alert-warning
            {% else %}alert-info{% endif %} 
            alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        
        <form action="{% if employee %}{% url 'update_employee' employee.id %}{% else %}{% url 'add_employee' %}{% endif %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
            <label for="name" class="form-label">Employee Name</label>
            <input type="text" class="form-control" id="name"  name="name" value="{{ employee.name|default:'' }}">
            </div>
            <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" value="{{ employee.email|default:'' }}" name="email">
            </div>
            <div class="mb-3">
            <label for="contact" class="form-label">Mobole No</label>
            <input type="number" class="form-control" id="contact" value="{{ employee.contact|default:'' }}" name="contact">
            </div>
        <div class="modal-footer">
        <button type="reset" class="btn btn-primary">Reset </button>
        <button type="submit" class="btn btn-primary">{% if employee %} Update {% else %} Save {% endif %}</button>
        <a href="{% url 'list_employee' %}" class="btn btn-secondary">Close</a>
      </div>
      </form>
      </div>
      
      
    </div>
    
  </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>